[project]
	description = Distributed DataFrame: Productivity = Power x Simplicity For Scientists & Engineers, on any Data Engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/thxph
[access "refs/for/refs/*"]
	read = group user/thxph
	push = group user/thxph
	label-Code-Review = -2..+2 group user/thxph
	label-Verified = -1..+1 group user/thxph
	rebase = group user/thxph
	removeReviewer = group user/thxph
	submit = group user/thxph
[access "refs/heads/*"]
	read = group user/thxph
	create = group user/thxph
	push = +force group user/thxph
	pushMerge = group user/thxph
[access "refs/tags/*"]
	push = +force group user/thxph
	pushTag = group user/thxph
	pushSignedTag = group user/thxph
